[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
cryptography = "*"
psycopg2-binary = "*"
gunicorn = "*"
j-crypto = "*"
celery = {extras = ["redis"], version = "*"}
flower = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
mypy = "*"
codecov = "*"
coverage = "*"
v = {version = "*", editable = true}

[requires]
python_version = "3.6"
